body {
  background-color: #131516;
  color: #d8d4cf;
  margin: 0;
  padding: 0;
  font-family: CascadiaCode,monospace;
  font-size: 150%;
  font-weight: bold;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 600px;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
}
.footer {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  max-width: 350px;
  padding: 1px 12px;
  border-radius: 5px;
  text-align: center;
  font-size: 65%;
}